*{
    margin: 5px;
}

:root{
    --cor001: #272727;
    --cor002: #002459;
    --cor003: #0066FF;
    --cor004: #0099FF;
    --cor005: #F2F2F2; 
}

body{
    background-color: var(--cor001);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor005);
}

div.nav{
    display: flex;
    width: 200px;
    text-align: center;
    margin: auto;
}

div.nav > a.coders{
    margin-left: 20px;
    color: var(--cor004);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    background-image: linear-gradient(to top, #292929, #505050);
    border-radius: 5px;
    transition-duration: 0.4s;
}

div.nav > a.coders::after{
    display: block;
    content: '';
    width: 92px;
    height: 3px;
    background-color: var(--cor002);
}

div.nav > a.coders:hover{
    color: white;
    background-image: linear-gradient(to top, #505050, #292929);
}

div.nav > a.video{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.3em;
    background-image: linear-gradient(to top, #292929, #505050);
    border-radius: 5px;
    transition-duration: 0.4s;
}

div.nav > a.video:hover{
    font-size: 1.5em;
    background-image: linear-gradient(to top, #505050, #292929);
}